$gradientL-color: #FEB860;
$gradientR-color: #FDACA0;
$noactive-color: #BBBBBC;
//$gradient-color: linear-gradient(to right, main.$gradientL-color, main.$gradientR-color);



.App {
    max-width: 1280px;
    min-height: 100vh;
    background-color: #F5F5F5;
    // display: grid;    
    // justify-content: center; 
}

.btn {
    padding: 10px 20px;
    background: linear-gradient(to right, $gradientL-color, $gradientR-color);
    text-align: center;
}